.number-check__button {
    background-color: blue;
    border: 1px solid black;
    border-radius: 12px;
    margin: 2rem auto;
    max-width: 100%;
    padding: 0.5rem;
    text-align: center;
    width: 20rem;
}